################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentApi/PaymentApi/bin/Debug/net5.0
/PaymentApi/PaymentApi/obj
/.vs
/PaymentApi/.vs/PaymentApi
/PaymentApi/Tests/PaymentApi.Test/obj
/PaymentApi/PaymentApi.Service/bin/Debug/netcoreapp3.1
/PaymentApi/PaymentApi.Service/obj
/PaymentApi/PaymentApi.Domain/bin/Debug/netcoreapp3.1
/PaymentApi/PaymentApi.Domain/obj
/PaymentApi/PaymentApi.Data/bin/Debug/netcoreapp3.1
/PaymentApi/PaymentApi.Data/obj
/PaymentGatewayApi/PaymentGatewayApi/bin/Debug/net5.0
/PaymentGatewayApi/.vs/PaymentGatewayApi
/PaymentGatewayApi/PaymentGatewayApi.Domain/obj
/PaymentGatewayApi/PaymentGatewayApi.Messaging.Send/obj
/PaymentGatewayApi/PaymentGatewayApi/obj
/PaymentApi/PaymentApi.Messaging.Receive/obj
/PaymentApi/PaymentApi.Messaging.Receive/bin/Debug/netcoreapp3.1
/AcquiringBankMock/.vs/AcquiringBankMock/v16
/AcquiringBankMock/AcquiringBankMock/bin/Debug/net5.0
/AcquiringBankMock/AcquiringBankMock/obj
